<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav style="background-color: gray; position: relative;float: right;z-index: -1;">
        {% if user.is_authenticated %}
            <a href="/logout">Logout</a>
            <a href="/home">Profile</a>
        {% else %}
            <a href="/login/auth0">Login</a>
        {% endif %}
    </nav>
    <div>
        {% if user.is_authenticated %}
            <h1><a href="/home">Click</a> to go to Prediction App</h1>
        {% endif %}
    </div>
    {% block body %}

    {% endblock body %}
</body>
</html>